<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>支付成功</title>
    <link rel="stylesheet" href="/public/qdd/css/zfcg.css">
</head>
<body>
    <div>
        <img src="/public/qdd/img/对号(1).png" alt="">
    </div>
    <p class="p1">恭喜您注册成功</p>
    <p class="p2">请等待后台管理员进行资料审核<br>审核通过后，即可正常登陆！</p>
    <a href="/mobile.php/login"></a>


</body>
</html>