<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>购物车</title>
    <link rel="stylesheet" href="/public/qdd/css/jiesuan.css">
    <script src="<?php echo CSS_PATH;?>mobile/js/angular.min.js"></script>
    <script type="text/javascript" src="<?php echo CSS_PATH;?>mobile/cate/jquery.min.js"></script>
    <script type="text/javascript" src="<?php echo CSS_PATH;?>lib/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="<?php echo CSS_PATH;?>lib/layer/2.1/layer.js"></script>
</head>
<body ng-app="cartApp" ng-controller="cartCtrl" ng-cloak>
<header>
    <a href="javascript:history.go(-1);" id="jsfh">
        <img src="/public/qdd/img/juxing3.png" alt="">
    </a>
    <p>购物车</p>
</header>
<section style="margin-bottom: 120px;">
    <span ng-repeat="v in cartlist" ><div class="jsbj">
        <!--<a href="#">-->
            <!--<img src="/public/qdd/img/xingzhuang2.png" alt="">-->
        <!--</a>-->
        <span>{{v.supname}}</span>
    </div>
    <ul class="spList" >
        <li ng-repeat="(key,vo) in v.sub">
            <div class="spxx">
                <a href="#" id="spxz">
                    <input type="checkbox"  style="width: 30px;height: 30px;float: left;margin-left: -40px;margin-top: 60px;display: none" name="proids[]" value="{{vo.id}}" id="id_{{vo.id}}" ng-if="vo.status == 0">
                    <input type="checkbox"  style="width: 30px;height: 30px;float: left;margin-left: -40px;margin-top: 60px;display: none" name="proids[]" value="{{vo.id}}" id="id_{{vo.id}}" ng-if="vo.status == 1" checked="checked">
                    <img src="/public/qdd/img/xingzhuang2.png" width="22" height="22" alt="" data-ng-click="select(vo.id)" id="img_{{vo.id}}" name="image[]" ng-if="vo.status == 1">
                    <img src="/public/qdd/img/tuoyuan2.png" width="22" height="22" alt="" data-ng-click="select(vo.id)" id="img_{{vo.id}}" name="image[]" ng-if="vo.status == 0">
                </a>
                <a href="/mobile.php/goods/{{vo.proid}}" id="zpck">
                    <img src="{{vo.img}}"style="border:1px solid #9999" width="113" height="110" alt="">
                </a>
                <div class="spxq">
                    <p style="width:140px;overflow: hidden;text-overflow:ellipsis; white-space: nowrap;">{{vo.proname}}</p>
                    <p>{{vo.procolor}}{{vo.stylename}}</p>
                    <div class="spbj zun" ng-if="usertype > '1'">
                        <img src="/public/qdd/img/zun.png" alt="">
                        <span>{{vo.shopprice}}元</span>
                    </div>
                    <div class="spbj zun" ng-if="usertype == '1'">
                        <img src="/public/qdd/img/biao.png" alt="">
                        <span>{{vo.shopprice}}元</span>
                    </div>
                    <div class="spbj biao" style="background:white;margin-left:20px;" ng-click="delGoods(vo.id)">
                        <img src="/public/qdd/img/del.png" alt="">
                    </div>
                    <br/>
                    <div class="spsl">
                        <span id="reduce_{{vo.id}}" ng-click="reduce(vo.id)">-</span>
                        <input type="text" value="{{vo.pronum}}" id="{{vo.id}}" readonly>
                        <span ng-click="increase(vo.id)">+</span>
                    </div>
                </div>
            </div>
        </li>
    </ul>
        </span>
    <div class="jiesuan">
        <a href="#" class="jsqx">
            <img src="/public/qdd/img/tuoyuan2.png" alt="" ng-click="selectAll($event)" width="22" height="22" id="allcheck">&nbsp;&nbsp;
            <span ng-click="selectAll($event)">全选</span>
        </a>
        <p>共计：<span id="sum_money1">{{sum_money}}元</span></p>
        <a href="#" id="jsBtn" ng-click="settle()">

        </a>
    </div>
</section>
{:widget('Common/mobile_footer')}
</body>
</html>
<script type="text/javascript">
    var app = angular.module('cartApp', []);
    app.controller('cartCtrl', function($scope, $http) {
        $scope.empty=false;
        $scope.selectStatus=true;
        $scope.select=function(id){
            if($('#img_'+id).attr('src')=='/public/qdd/img/tuoyuan2.png'){
                $('#img_'+id).attr('src','/public/qdd/img/xingzhuang2.png');
                $('#id_'+id).attr('checked','checked');
                $scope.selectAction(id,1);
            }else if($('#img_'+id).attr('src')=='/public/qdd/img/xingzhuang2.png'){
                $('#img_'+id).attr('src','/public/qdd/img/tuoyuan2.png');
                $('#id_'+id).removeAttr('checked');
                $scope.selectAction(id,0);
            }
        };

        $scope.selectAll=function(event){
            if($scope.selectStatus){
                $(":input[type='checkbox'] + img").attr('src','/public/qdd/img/xingzhuang2.png');
                $(":input[type='checkbox']").attr('checked','checked');
                $('#allcheck').attr('src','/public/qdd/img/xingzhuang2.png');
                $scope.selectStatus=false;
                $http.get("/api.php/cart/status?action=all")
                    .success(function (response) {
                        $scope.sum_money = response.sum_money;
                        $scope.sum_integral = response.sum_integral;
                        $scope.sum_giveintegral = response.sum_giveintegral;
                    });
            }else{
                $(":input[type='checkbox'] + img").attr('src','/public/qdd/img/tuoyuan2.png');
                $(":input[type='checkbox']").removeAttr('checked');
                $('#allcheck').attr('src','/public/qdd/img/tuoyuan2.png');
                $scope.selectStatus=true;
                $http.get("/api.php/cart/status?action=nothing")
                    .success(function (response) {
                        $scope.sum_money = response.sum_money;
                        $scope.sum_integral = response.sum_integral;
                        $scope.sum_giveintegral = response.sum_giveintegral;
                    });
            }
        };
        $scope.selectAction=function(id,status){
            $http.get("/api.php/cart/status?id="+id+"&status="+status)
                .success(function (response) {
                    $scope.sum_money = response.sum_money;
                    $scope.sum_integral = response.sum_integral;
                    $scope.sum_giveintegral = response.sum_giveintegral;
                });
        };

        $scope.settle=function(){
            $http.get("/api.php/cart/status?action=check&ishit=1")
                .success(function (response) {
                    if(response.status==1){
                        window.location.href='/mobile.php/order/affirm';
                    }else{
                        layer.msg(response.msg);
                    }
                });
        };
        /**
         * 购物车中商品数量的减少
         */
        $scope.reduce=function(cartid){
            $http.get("/api.php/cart/update?act=reduce&cartid="+cartid)
                .success(function (response) {
                    if(response.status==1){
                        var id=cartid;
                        $scope.sum_money = response.data.shopcartsum;
                        $scope.sum_integral = response.data.shoppvsum;
                        $scope.sum_giveintegral = response.data.shopgivepvsum;
                        $('#'+id).val(response.data.pronum);
                    }
                });
        };
        /**
         * 购物车中商品数量的增加
         */
        $scope.increase=function(cartid){
            $http.get("/api.php/cart/update?act=increase&cartid="+cartid)
                .success(function (response) {
                    if(response.status==1){
                        var id=cartid;
                        $scope.sum_money = response.data.shopcartsum;
                        $scope.sum_integral = response.data.shoppvsum;
                        $scope.sum_giveintegral = response.data.shopgivepvsum;
                        $('#'+id).val(response.data.pronum);
                    }else{
                        layer.msg(response.msg);
                    }
                });
        };
        /**
         * 购物车中商品的删除
         * @param event
         */
        $scope.delGoods=function(cartid){
            layer.confirm('<span style="color:#303030;">确认要删除吗？</span>',{icon: 3, title:'删除提示',
                btn: ['确认','取消'] //按钮
            },function(){
                $http.get("/api.php/cart/delete?cartid="+cartid)
                    .success(function (response) {
                        if(response.status==1){
                            layer.msg(response.msg,{},function(){
                                window.location.href='/mobile.php/cart/list';
                            });
                        }else{
                            layer.msg(response.msg);
                        }
                    });
            });
        };
        $http.get("/api.php/cart/list?ishit=1")
            .success(function (response) {
                if(response.status==1){
                    $scope.cartlist = response.data.data_list;
                    $scope.goods_num = response.data.goods_num;
                    $scope.sum_money = response.data.sum_money;
                    $scope.sum_integral = response.data.sum_integral;
                    $scope.sum_giveintegral = response.data.sum_giveintegral;
                    $scope.usertype = response.data.usertype;
                }else if(response.msg=='购物车为空'){
                    location.href='/mobile.php/cart/empty';
                }else {
                    $scope.empty=true;
                }
            });
    });
</script>