{include file="./public/Public/meta.html" /}

<meta charset="utf-8">
<title>关键字回复</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 微信管理 <span class="c-gray en">&gt;</span> 关键字回复 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"><a class="btn btn-primary radius" href="javascript:;" onClick="_add('添加关键字','{:url('Weixin/keyword_add')}')"><i class="Hui-iconfont">&#xe600;</i> 添加关键字</a> </span></div>
    <div class="mt-20">
        <form class="form form-horizontal" id="form-admin-list">
            <table class="table table-border table-bordered table-bg table-hover table-sort">
                <thead>
                <tr class="text-c">
                    <th><input type="checkbox" name="" value=""></th>
                    <th>ID</th>
                    <th>关键字</th>
                    <th>扩展关键字</th>
                    <th>功能描述</th>
                    <th>回复类型</th>
                    <th>回复内容</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {volist name="keywords" id="vo"}
                    <tr class="text-c">
                        <td><input type="checkbox" value="{$vo.id}" name="id[]"></td>
                        <td>{$vo.id}</td>
                        <td >{$vo.keywords}</u></td>
                        <td>{$vo.extKeywords}</td>
                        <td>{$vo.description}</td>
                        <td>
                            {if condition="$vo['replytype'] eq 1"}
                            文字
                            {elseif condition="$vo['type'] eq 2" /}
                            图文
                            {/if}
                        </td>
                        <td>{$vo.replycontent}</td>
                        <td class="f-14 td-manage"> <a style="text-decoration:none" class="ml-5" onClick="_edit('菜单编辑','{:url('Weixin/menu_edit',['id'=>$vo['id']])}')" href="javascript:;" title="编辑"><i class="Hui-iconfont">&#xe6df;</i></a> <a style="text-decoration:none" class="ml-5" onClick="_del(this,'{$vo.id}')" href="javascript:;" title="删除"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
                    </tr>
                {/volist}
                </tbody>
            </table>
        </form>
    </div>
</div>
{include file="./public/Public/js_script.html" /}
<script>
    /*-删除*/
    function _del(obj,id){
        layer.confirm('删除须谨慎，确认要删除吗？',function(index){
            $.ajax({
                url:'/api.php/weixin/del_menu?id='+id,
                type:"GET",
                success: function(data) {
                    if(typeof(data.code)!= "undefined"&&data.code==1){
                        layer.alert(data.msg);
                    }
                    if(typeof(data.status)!= "undefined"){
                        if(data.status==1){
                            layer.msg(data.msg,{icon:1,time:3000},function(){
                                location.href=location.href;
                            });
                        }else{
                            layer.msg(data.msg,{icon:2,time:3000});
                        }
                    }
                }
            });

        });
    }


    /*菜单的设置*/
    function setMenu(){
        layer.confirm('确认要重新设置菜单吗？',function(index){
            $.ajax({
                url:'/api.php/weixin/set_menu',
                type:"GET",
                dataType:"json",
                success: function(data) {
                    if(typeof(data.code)!= "undefined"&&data.code==1){
                        layer.alert(data.msg);
                    }
                    if(typeof(data.status)!= "undefined"){
                        if(data.status==1){
                            layer.msg(data.msg,{icon:1,time:3000},function(){
                                location.href=location.href;
                            });
                        }else{
                            layer.msg(data.msg,{icon:1,time:3000});
                        }
                    }
                }
            });
        });
    }


    /*-编辑*/
    function _edit(title,url){
        layer_show(title,url,900,600);
    }

    /*-增加*/
    function _add(title,url){
        layer_show(title,url,900,600);
    }
</script>

</body>
</html>
