#shop_cart_lay ul licharset "utf-8";
html{overflow-x:hidden;padding:0px; margin:0px;}
body{MARGIN:0px; font-size:12px; font-family:"Microsoft Yahei","Hiragino Sans GB","Helvetica Neue",Helvetica,tahoma,arial,"WenQuanYi Micro Hei",Verdana,sans-serif,"\5B8B\4F53"; color:#333333;}
a{color:#333333;text-decoration:none}
a:hover{color: #ff7e00;}
ul{ list-style:none;}
img{border:0px; margin:0px; padding:0px;}
form{ margin:0px; padding:0px;}
dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,fieldset,p,blockquote,th,td,input,form{margin:0;padding:0; }
address,caption,em,strong,th,i{font-style:normal; }
.clear{ clear:both; float:none;}
img.code{height: 20px; border:1px solid #CCCCCC; vertical-align:top; cursor:pointer;}
.input{ border:1px solid #cccccc;}

/*用户中心*/
.user_box { background-color:#F5F5F5}
.uc-box{background:#fff}
.uc-sub-box{ width:204px; padding:16px 0}
.uc-subr-box { width:976px}

.uc-nav-box{margin-bottom:12px}
.uc-nav-box .box-hd{height:52px}
.uc-nav-box .box-hd .title{margin:0 48px 2px;font-size:16px;font-weight:400;line-height:52px;}
.uc-nav-list{margin:0;padding:0;list-style-type:none; background-color:#ffffff;}
.uc-nav-list li{padding:6px 48px}
.uc-nav-list li.active a{color:#ff6700}
.uc-nav-list a{color:#757575}
.uc-nav-list a:hover{color:#424242}

.uc-main-box{padding:16px 0}
.uc-content-box{margin:0 28px; padding-bottom:30px}

.uc-content-box .box-hd .title{margin:0;font-size:30px;font-weight:400;line-height:68px;color:#757575}
/*.uc-content-box .box-hd small{margin-left:10px;font-size:12px;line-height:1.5}
.uc-content-box .box-hd small a{color:#757575}
.uc-content-box .box-hd small a:hover{text-decoration:underline}*/
.uc-content-box .box-hd .more{border-bottom:1px solid #e0e0e0}
.uc-content-box .box-hd .filter-list{float:left;margin:0;padding:18px 0;list-style-type:none;font-size:16px;line-height:1.25}
.uc-content-box .box-hd .filter-list li{float:left;padding:0 20px;border-left:1px solid #e0e0e0;color:#757575}
.uc-content-box .box-hd .filter-list li:hover{color:#333}
.uc-content-box .box-hd .filter-list li.first{padding-left:0;border-left:0}
.uc-content-box .box-hd .filter-list li.tab-active,.uc-content-box .box-hd .filter-list li.active{color:#ff6700}
.uc-content-box .box-hd .filter-list li.tab-active a,.uc-content-box .box-hd .filter-list li.active a{color:#ff6700}
.uc-content-box .box-hd .filter-list a{color:#757575}
.uc-content-box .box-hd .filter-list a:hover{color:#333}
.uc-content-box .box-hd .search-form{float:right;position:relative;width:262px;height:40px;margin-top:8px}
.uc-content-box .box-hd .search-form:hover .search-text{border-color:#b0b0b0}
.uc-content-box .box-hd .search-form:hover .search-btn{border-color:#b0b0b0}
.uc-content-box .box-hd .search-form:hover .search-btn:hover{border-color:#ff6700}
.uc-content-box .box-hd .search-text{position:absolute;top:0;right:41px;z-index:1;width:189px;height:40px;padding:0 15px;border:1px solid #e0e0e0;font-size:12px;line-height:40px;outline:0;color:#757575;-webkit-transition:all .2s;transition:all .2s}
.uc-content-box .box-hd .search-btn{position:absolute;right:0;top:0;z-index:2;width:42px;height:40px;border:1px solid #e0e0e0;font-size:22px;line-height:24px;background:#fff;color:#616161;outline:0;-webkit-transition:all .2s;transition:all .2s}
.uc-content-box .box-hd .search-btn:hover{background:#ff6700;color:#fff; cursor:pointer}

/*.uc-content-box .box-hd .search-form-focus:hover .search-text{border-color:#ff6700}
.uc-content-box .box-hd .search-form-focus:hover .search-btn{border-color:#ff6700}
.uc-content-box .box-hd .search-form-focus .search-text{border-color:#ff6700}
.uc-content-box .box-hd .search-form-focus .search-btn{border-color:#ff6700}
.uc-content-box .box-hd .search-form-focus .search-btn:hover{background-color:#ff6700;color:#fff}
.uc-content-box .box-hd .subtitle{float:left;padding:14px 0 4px;font-size:18px;font-weight:400;color:#333}
.uc-content-box .box-hd .tag{display:inline-block;*zoom:1;*display:inline;padding:0 12px;margin-left:10px;margin-top:-2px;font-size:12px;color:#fff;vertical-align:middle}
.uc-content-box .box-hd .tag-subsidy{background-color:#2196f3}
.uc-content-box .box-hd .actions{float:right;padding-top:5px}
.uc-content-box .box-hd .actions .btn{margin-left:5px}
.uc-content-box .box-bd .empty{margin:40px 0;font-size:18px;text-align:center;color:#b0b0b0}
.uc-content-box .box-bd .empty p{margin:0 0 5px}
.uc-content-box .box-bd .empty a{font-size:14px;color:#424242}
.uc-content-box .box-bd .empty a:hover{color:#ff6700}
.uc-content-box .box-bd .empty .sep{font-size:14px}*/

.portal-content-box .box-bd{padding-top:24px}
.portal-content-box .user-card{position:relative;float:left;width:302px;height:160px;padding-left:180px;padding-top:30px}
.portal-content-box .user-card .avatar{position:absolute;left:0;top:0;padding:4px; width:150px; height:150px; border:1px solid #e0e0e0;border-radius:150px}
.portal-content-box .user-card .username{margin:0;font-size:24px;font-weight:400;color:#333333}
.portal-content-box .user-card .tip{margin:8px 0 10px;color:#b0b0b0}
.portal-content-box .user-card .money { margin:8px 0; font-size:14px}
.portal-content-box .user-card .link{font-size:12px; color:#b0b0b0; /*color:#ff6700*/}
.portal-content-box .user-actions{float:right;width:358px;margin-top:25px}
.portal-content-box .action-list{margin:0;padding:0;list-style-type:none;color:#757575}
.portal-content-box .action-list li{position:relative;padding:6px 0}
.portal-content-box .action-list .btn{position:absolute;right:0;top:0}
.portal-content-box .action-list .level-1{color:#e53935}
.portal-content-box .action-list .level-2{color:#ffac13}
.portal-content-box .action-list .level-3{color:#ff0000}
.portal-content-box .portal-sub{border-top:1px solid #e0e0e0}
.portal-content-box .info-list{margin:0;padding:60px 0 0 20px;list-style-type:none;color:#757575}
.portal-content-box .info-list li{position:relative;float:left;width:276px;height:65px;padding-left:112px;padding-top:15px;margin-left:14px;margin-bottom:80px}
.portal-content-box .info-list h3{margin:0;font-size:18px;font-weight:400; margin-bottom:8px}
.portal-content-box .info-list .num{color:#ff6700}
.portal-content-box .info-list .iconfont{font-size:16px;line-height:16px;vertical-align:-1px}
.portal-content-box .info-list img{position:absolute;left:-10px;top:-10px}

.filter-list{float:left;margin:0;padding:18px 0;list-style-type:none;font-size:16px;line-height:1.25}
.uc-content-box .box-hd .filter-list li{float:left;padding:0 20px;border-left:1px solid #e0e0e0;color:#757575; cursor:pointer}
.uc-content-box .box-hd .filter-list li:hover{color:#333}
.uc-content-box .box-hd .filter-list li.on{ color:blue}
.uc-content-box .box-hd .filter-list li.first{padding-left:0;border-left:0}
.uc-content-box .box-hd .filter-list li.tab-active,.uc-content-box .box-hd .filter-list li.active{color:#ff6700}
.uc-content-box .box-hd .filter-list li.tab-active a,.uc-content-box .box-hd .filter-list li.active a{color:#ff6700}
.uc-content-box .box-hd .filter-list a{color:#757575}
.uc-content-box .box-hd .filter-list a:hover{color:#333}

.addres-add-example{position:relative;margin: 15px 0;padding: 39px 19px 14px;*position:static;*padding-top: 19px;background-color: #fff;border: 1px solid #ddd;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px}
.addres-add-example:after{content: "新增收货地址";position: absolute;top: -1px;left: -1px;*position:static;padding: 3px 7px;font-size: 12px;font-weight: bold;background-color: #f5f5f5;border: 1px solid #ddd;color: #9da0a4;-webkit-border-radius: 4px 0 4px 0;-moz-border-radius: 4px 0 4px 0;border-radius: 4px 0 4px 0}