{include file="./public/Public/meta.html" /}

<meta charset="utf-8">
<title>我的桌面</title>
</head>
<body>
<div class="page-container">
	<p class="f-20 text-success">欢迎使用<span class="f-14">v1.0</span>商家管理系统！</p>
	<p>供应商：{$Think.session.suppliername} </p>
	<!--<p>上次登录IP：222.35.131.79.1  </p>-->
	<table class="table table-border table-bordered table-bg">
		<thead>
			<tr>
				<th colspan="7" scope="col">产品信息统计</th>
			</tr>
			<tr class="text-c">
				<th>统计</th>
				<th>待审核商品</th>
                <th>在售商品</th>
                <th>下架商品</th>
				<th>未通过审核产品</th>
				<th>所有产品</th>
			</tr>
		</thead>
		<tbody>
            <tr class="text-c">
				<td>总数</td>
				<td>{:cpcount(2)}</td>
				<td>{:cpcount(1)}</td>
                <td>{:cpcount(3)}</td>
				<td>{:cpcount(4)}</td>
				<td>{:cpcount("")}</td>
			</tr>
		</tbody>
	</table>
	<table class="table table-border table-bordered table-bg">
	  <thead>
	    <tr>
	      <th colspan="7" scope="col">订单信息统计</th>
        </tr>
	    <tr class="text-c">
	      <th>统计</th>
	      <th>待付款订单</th>
	      <th>已付款订单</th>
	      <th>配货中订单</th>
	      <th>已发货订单</th>
	      <th>过期订单</th>
        </tr>
      </thead>
	  <tbody>
	    <tr class="text-c">
	      <td>总数</td>
	      <td>{:ordercount(1)}</td>
	      <td>{:ordercount(2)}</td>
	      <td>{:ordercount(3)}</td>
	      <td>{:ordercount(4)}</td>
	      <td>{:ordercount(0)}</td>
        </tr>
      </tbody>
  </table>
</div>
<footer class="footer mt-50">
	<div class="container">
		<p>Copyright &copy;2015-2017 飞度科技 v1.0 All Rights Reserved.</p>
	</div>
</footer>
<script type="text/javascript" src="<?php echo CSS_PATH;?>lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="<?php echo CSS_PATH;?>static/js/He.js"></script> 
</body>
</html>