{include file="./public/Public/meta.html" /}

<meta charset="utf-8">
<title>商品列表 - 商品管理</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 产品管理 <span class="c-gray en">&gt;</span> 产品列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <form name="memsearch" id="memsearch" method="post" action="{:\\think\\Url::build($Request.action)}">
    <div class="bk-gray">
    	<div class="col-80">商品ID：</div>
        <div class="col-200"><input type="text" class="input-text" style="width:150px" placeholder="输入商品ID" id="keyproid" name="keyproid" value="{$Request.param.keyproid}"></div>
        <div class="col-90">商品名称：</div>
        <div class="col-300"><input type="text" class="input-text" style="width:240px" placeholder="输入商品名称" id="keyproname" name="keyproname" value="{$Request.param.keyproname}"></div>
        <div class="col-90">商品编码：</div>
        <div class="col-200"><input type="text" class="input-text" style="width:150px" placeholder="输入商品编码" id="txm" name="txm" value="{$Request.param.txm}"></div>

        <div class="col-80">商品分类：</div>
        <div class="col-200">
        	<span class="select-box" style="width:120px">
              <select class="select" size="1" name="productcate">
                <option value="">请选择</option>
                  {volist name='cate' id='vm'}
                <option value="{$vm.Id}" {if condition="$Request.param.productcate eq $vm.Id"}selected{/if}>{$vm.name}</option>
                  {/volist}
              </select>
            </span>
        </div>
        <div class="col-80">当前状态：</div>
        <div class="col-150">
        	<span class="select-box" style="width:100px">
                <select class="select" size="1" name="productState">
                  <option value="">请选择</option>
                  <option value="1" {if condition="$Request.param.productState eq '1'"}selected{/if}>在售中</option>
                  <option value="2" {if condition="$Request.param.productState eq '2'"}selected{/if}>待审核</option>
                  <option value="3" {if condition="$Request.param.productState eq '3'"}selected{/if}>已下架</option>
                  <option value="4" {if condition="$Request.param.productState eq '4'"}selected{/if}>未通过</option>
                </select>
            </span>
        </div>
        <div class="col-80">首页显示：</div>
        <div class="col-150">
        	<span class="select-box" style="width:80px">
                <select class="select" size="1" name="isindex">
                    <option value="">请选择</option>
                    <option value="0" {if condition="$Request.param.isindex eq '0'"}selected{/if}>否</option>
                    <option value="1" {if condition="$Request.param.isindex eq '1'"}selected{/if}>是</option>
                  </select>
              </span>
        </div>
        <div class="col-80">商家ID：</div>
        <div class="col-200"><input type="text" class="input-text" style="width:150px" placeholder="输入商家ID" id="keysupid" name="keysupid" value="{$Request.param.keysupid}"></div>
        <div class="col-90">商家名称：</div>
        <div class="col-300"><input type="text" class="input-text" style="width:240px" placeholder="输入商家名称" id="keysupname" name="keysupname" value="{$Request.param.keysupname}"></div>

        <div class="f-r mt-5"><button name="" id="" class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i> 搜索</button>&ensp;<button name="daochu" class="btn btn-success" type="submit" value="daochu"><i class="Hui-iconfont">&#xe665;</i> 导出</button>&ensp;<button name="" id="" class="btn btn-success" type="submit" onclick="javascript:$('input:text').val('');$('select option').val('');"><i class="Hui-iconfont">&#xe609;</i> 清空</button>&ensp;</div>

    </div>
    <!--<div class="bk-gray" style="border-top:0">-->
        	<!--</div>-->
    </form>

    <div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"><a href="javascript:;" onClick="datadel()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a>
<!--
    <a href="javascript:;" onClick="generateHtml()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe612;</i> 生成PC端静态页</a>
        <a href="javascript:;" onClick="generateWapHtml()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe612;</i> 生成移动端静态页</a>

        <a href="javascript:;" onClick="_show('批量生成静态页','/index.php/Master/Product/product_list/action/generate_page_show')" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe612;</i> 批量生成静态页</a>
   -->
    </span> <span class="r">共有数据：<strong>{$count}</strong> 条</span> </div>
    <div class="mt-20">
        <form class="form form-horizontal" id="form-product-list">
        <table class="table table-border table-bordered table-bg table-hover">
            <thead>
                <tr class="text-c">
                    <th><input name="" type="checkbox" value=""></th>
                    <th>ID</th>
                    <th>商品</th>
                    <th>商品类别</th>
                    <th>显示位置</th>
                    <th>价格</th>
                    <!--<th>结算价</th>-->
                    <!--<th>Pv值</th>-->
                    <th>首页</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {volist name="prolist" id="vo"}
                <tr class="text-c va-m">
                    <td><input name="proid[]" type="checkbox" value="{$vo.ProId}"></td>
                    <td>{$vo.ProId}</td>
                    <td class="text-l">
                    	<dd class="f-l mr-10"><img src="{$vo.img}" alt="{$vo.ProName}" width="80" height="80"></dd>
                    	<dd class="pos-r" style="height:80px">
                        	<!--<u style="cursor:pointer" class="text-primary c-blue" onclick="_show('查看商品详细信息','{:url('Product/productShow',['proid'=>$vo['ProId']])}','')">-->
                                {$vo.ProName}
                            <!--</u>-->
                        	<div class="pos-a c-999" style="bottom:0; left:90px"><i class="Hui-iconfont">&#xe667;</i> {:supnamebysupid($vo['SupplierId'])}<span class="c-error">({$vo.SupplierId})</span></div>
                        </dd>
                    </td>
                    <td>{:getpcnamebyid($vo['categoryId'])}<br>{:getpcnamebyid($vo['CategoryCode'])}<br>{:getpcnamebyid($vo['CategoryThird'])}&ensp;<a style="text-decoration:none" class="ml-5" href="javascript:;" onclick="_edit('修改商品分类','{:url('product_category_edit',['proid'=>$vo['ProId'],'supplierid'=>$vo['SupplierId']])}','','','510')" title="修改"><i class="Hui-iconfont">&#xe6df;</i></a>
                    </td>
                    <td>{:echoishitbyid($vo['IsHit'])}</td>
                    <td class="text-l">结算价：{$vo.BalancePrice}<br>零售价：{$vo.MarketPrice}<br>标准价：{$vo.VipPrice}<br>尊享价：{$vo.EnjoyPrice}
                    </td>
                    <!--<td class="text-l">会员价：{$vo.VipPrice}<br>抵&emsp;扣：{:addzero($vo['ConsumeIntegral'])}积分</td>-->
                    <!--<td class="text-l">会员价：{$vo.VipPrice}</td>-->
                    <!--<td class="text-l">结算价：{$vo.BalancePrice}</td>-->
                    <!--<td class="text-l">Pv值：{$vo.Pv}</td>-->
                    <td class="td-homeshow"}
                    {if condition="$vo['IsIndex'] eq 1"}
                    	<a style="text-decoration:none" onClick="_Hstop(this,{$vo['ProId']})" href="javascript:;" title="停止显示"><i class="f-18 c-green Hui-iconfont">&#xe676;</i></a>
                    {else /}
                    	<a style="text-decoration:none" onClick="_Hstart(this,{$vo['ProId']})" href="javascript:;" title="开启显示"><i class="f-18 Hui-iconfont">&#xe706;</i></a>
                    {/if}
                    </td>
                    <td class="td-status">
                    {if condition="$vo['IsOnSell'] eq 1"}
                    	<a style="text-decoration:none" onClick="_stop(this,{$vo['ProId']})" href="javascript:;" title="下架"><span class="label label-success radius">在售中</span></a>
                    {elseif condition="$vo['IsOnSell'] eq 2" /}
                    	<a style="text-decoration:none" onClick="_shenhe(this,{$vo['ProId']})" href="javascript:;" title="审核"><span class="label label-warning radius">待审核</span></a>
                    {elseif condition="$vo['IsOnSell'] eq 3" /}
                    	<a style="text-decoration:none" onClick="_start(this,{$vo['ProId']})" href="javascript:;" title="上架"><span class="label label-defaunt radius">已下架</span></a>
                    {else /}
                    	<span class="label label-danger radius">未通过</span><br><a href="javascript:;" onclick="_show('查看原因','{:url('Product/reasonShow')}?proid={$vo['ProId']}','','400','350')">查看原因</a>
                    {/if}
                    </td>
					<td class="f-14 td-manage"><a style="text-decoration:none" class="ml-5" href="{:url('Product/productEdit',['proid'=>$vo['ProId']])}" title="编辑"><i class="Hui-iconfont">&#xe6df;</i></a> <a style="text-decoration:none" class="ml-5" onClick="_del(this,'{$vo.ProId}')" href="javascript:;" title="删除"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
                </tr>
                {/volist}
            </tbody>
        </table>
        </form>
    </div>

    <!--分页 begin-->
    <div class="page-bootstrap">{$page}</div>
    <br class="clear">
    <!--分页 end-->
</div>


{include file="./public/Public/js_script.html" /}
<script type="text/javascript">
$(function(){
	$('.table-sort').dataTable({
		"aaSorting": [[ 0, "desc" ]],//默认第几个排序
		"bStateSave": true,//状态保存
		"aoColumnDefs": [
		  //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
		  {"orderable":false,"aTargets":[1,2]}// 制定列不参与排序
		]
	});

	//跳转页
	$('#jump').blur(function(){
		var url=$('.jumpnum').attr("href");
		//var strs=url.substr(0,25);
		var strs=url;
		var value=this.value;
		var all=$('.all').attr("title");
		var i=parseFloat(all);//将字符转化成数字
		if(value<=i && !isNaN(value) && value>0){
			value=Math.ceil(value);
		}else{
			value='';
		}
		var newurl=strs+value;
		$('.jumpnum').attr("href",newurl);
	});
});

/*-查看*/
function _show(title,url,id,w,h){
	layer_show(title,url,600,h);
}

/*-首页不显示*/
function _Hstop(obj,id){
	layer.confirm('确认不显示在首页吗？',function(index){
		//此处请求后台程序，下方是成功后的前台处理……
		$.ajax({
			url:'{:url("Product/productAction")}?action=isindex&status=no&proid='+id,
			type:"GET",
			//data:$('#form-sales-add').serialize(),
			success: function(data) {
				location.href=location.href;
				layer.msg('已取消首页显示!', {icon: 6,time:1000});
			}
			});
	});
}
/*-首页显示*/
function _Hstart(obj,id){
	layer.confirm('确认要显示在首页吗？',function(index){
		//此处请求后台程序，下方是成功后的前台处理……
		$.ajax({
			url:'{:url("Product/productAction")}?action=isindex&status=yes&proid='+id,
			type:"GET",
			//data:$('#form-sales-add').serialize(),
			success: function(data) {
				location.href=location.href;
				layer.msg('已显示在首页!', {icon: 6,time:1000});
			}
			});
	});
}

/*-审核*/
function _shenhe(obj,id){
	layer.confirm('是否已通过您的审核？', {
		btn: ['通过','不通过','取消'],
		shade: false,
		closeBtn: 0
	},

	function(){
		$.ajax({
			url:'{:url("Product/productAction")}?action=enable&status=issale&proid='+id,
			type:"GET",
			//data:$('#form-sales-add').serialize(),
			success: function(data) {
				var res = String($.trim(data));
				if(typeof(data.code)!= "undefined"&&data.code==1){
                    layer.alert(data.msg);
                }
				if(typeof(data.status)!= "undefined"){
					location.href=location.href;
					layer.msg('审核通过，已上架!', {icon: 6,time:1000});
				}
			}
		});
	},

	function(){
    	layer.alert("<textarea name='noshenh' id='noshenh"+id+"' cols='' rows='' class='textarea'  placeholder='没通过审核？给个理由呗……' onKeyUp='textarealength(this,100)'></textarea><p class='textarea-numberbar'><em class='textarea-length'>0</em>/100</p>", function(index){
				$.ajax({
				url:'{:url("Product/productAction")}?action=enable&status=notaudit&proid='+id+"&reason="+document.getElementById("noshenh"+id).value,
				type:"GET",
				//data:$('#form-sales-add').serialize(),
				success: function(data) {
	            if(typeof(data.code)!= "undefined"&&data.code==1){
                    layer.alert(data.msg);
                }
                if(typeof(data.status)!= "undefined"){
                    if(data.status==1){
                        layer.msg(data.msg,{icon:1,time:1000},function(){
                            location.href=location.href;
                        });
                    }else{
                        layer.msg(data.msg,{icon:1,time:1000});
                    }
                }
				}
			});
		});
		//layer.msg('未通过', {icon:5,time:1000});
	});
}
/*-下架*/
function _stop(obj,id){
	layer.confirm('确认要下架吗？',function(index){
		//此处请求后台程序，下方是成功后的前台处理……
		$.ajax({
			url:'{:url("Product/productAction")}?action=enable&status=nosale&proid='+id,
			type:"GET",
			dataType:"json",
			//data:$('#form-sales-add').serialize(),
			success: function(data) {
                if(typeof(data.code)!= "undefined"&&data.code==1){
                    layer.alert(data.msg);
                }
                if(typeof(data.status)!= "undefined"){
                    if(data.status==1){
                        layer.msg(data.msg,{icon:1,time:1000},function(){
                            location.href=location.href;
                        });
                    }else{
                        layer.msg(data.msg,{icon:1,time:1000});
                    }
                }
			}
		});
	});
}

/*-发布*/
function _start(obj,id){
	layer.confirm('确认要上架吗？',function(index){
		$.ajax({
			url:'{:url("Product/productAction")}?action=enable&status=issale&proid='+id,
			type:"GET",
			dataType:"json",
			//data:$('#form-sales-add').serialize(),
			success: function(data) {
                if(typeof(data.code)!= "undefined"&&data.code==1){
                    layer.alert(data.msg);
                }
                if(typeof(data.status)!= "undefined"){
                    if(data.status==1){
                        layer.msg(data.msg,{icon:1,time:1000},function(){
                            location.href=location.href;
                        });
                    }else{
                        layer.msg(data.msg,{icon:1,time:1000});
                    }
                }
			}
		});
	});
}

/*-编辑*/
function _edit(title,url,id,w,h){
	layer_show(title,url,w,h);
}

/*批量删除*/
function datadel(){
	layer.confirm('确认要删除吗？',function(index){
		//此处请求后台程序，下方是成功后的前台处理……
		$.ajax({
			url:'{:url("Product/productDelete")}',
			type:"POST",
            dataType:"json",
			data:$('#form-product-list').serialize(),
			success: function(data) {
                if(typeof(data.code)!= "undefined"&&data.code==1){
                    layer.alert(data.msg);
                }
                if(typeof(data.status)!= "undefined"){
                    if(data.status==1){
                        layer.msg(data.msg,{icon:1,time:1000},function(){
                            location.href=location.href;
                        });
                    }else{
                        layer.msg(data.msg,{icon:1,time:1000});
                    }
                }
			}
			});
	});
}

/*-删除*/
function _del(obj,id){
	layer.confirm('商品删除须谨慎，确认要删除吗？',function(index){
		//此处请求后台程序，下方是成功后的前台处理……
		$.ajax({
			url:'{:url("Product/productDelete")}?proid='+id,
			type:"GET",
            dataType:"json",
			success: function(data) {
			    if(typeof(data.code)!= "undefined"&&data.code==1){
                    layer.alert(data.msg);
                }
                if(typeof(data.status)!= "undefined"){
                    if(data.status==1){
                        layer.msg(data.msg,{icon:1,time:1000},function(){
                            location.href=location.href;
                        });
                    }else{
                        layer.msg(data.msg,{icon:1,time:1000});
                    }
                }
			}
			});
	});
}

function generateHtml(){
    layer.confirm('确认要生成静态页吗？',function(index){
        //此处请求后台程序，下方是成功后的前台处理……
        $.ajax({
            url:'product_list/action/generate_page',
            type:"POST",
            data:$('#form-product-list').serialize(),
            success: function(data) {
                //location.href=location.href;
                layer.msg('已生成!',{icon:1,time:1000});
            }
        });
    });
}


function generateWapHtml(){
    layer.confirm('确认要生成静态页吗？',function(index){
        //此处请求后台程序，下方是成功后的前台处理……
        $.ajax({
            url:'product_list/action/generate_wap_page',
            type:"POST",
            data:$('#form-product-list').serialize(),
            success: function(data) {
                //location.href=location.href;
                layer.msg('已生成!',{icon:1,time:1000});
            }
        });
    });
}

function _show(title,url){
    layer_show(title,url,900);
}
</script>
</body>

</html>