

img#logo{width: 1.52rem;height: 1.52rem;margin: 0.6rem auto;display: block;margin-top: 1.5rem;}

.kuang{text-align: center;}
button{width: 6rem;height: 0.9rem;border-radius: 0.45rem;background: #28bebc; border:none;font-family: "微软雅黑";font-size: 0.24rem;color:#fff;cursor: pointer;}
button#zhuce{background: #fff;color:#28bebc;border: 1px solid #28bebc;}


























