{include file="./public/Public/meta.html" /}

<meta charset="utf-8">
<title>上传广告 -广告管理</title>
</head>
<body>
<div class="page-container">
    <form class="form form-horizontal" id="form-video-add" enctype="multipart/form-data" action="{:url('Ad/adEdit',['act'=>'edit','id'=>$listone['ID']])}" method="post">
        <div class="row cl">
            <label class="form-label col-xs-2 col-sm-2"><span class="c-red"></span>广告标题：</label>
            <div class="formControls col-xs-10 col-sm-9">
                <input type="text" class="input-text"  value="{$listone.AdTitle}" placeholder="请输入广告标题" id="AdTitle" name="AdTitle">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-2 col-sm-2"><span class="c-red"></span>广告描述：</label>
            <div class="formControls col-xs-10 col-sm-9">
                <textarea name="AdContent" cols="" rows="" id="AdContent" class="textarea" onblur="checktetail()" placeholder="最多不能超过100个字……" onKeyUp="textarealength(this,100)">{$listone.AdContent}</textarea>
                <p class="textarea-numberbar"><em class="textarea-length">0</em>/100</p>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-2 col-sm-2"><span class="c-red">*</span>广告分组：</label>
            <div class="formControls col-xs-10 col-sm-9">
				<span class="select-box">
                    <select class="select" name="CategoryId" id="CategoryId" onchange="checkclassId()">
                        <option value="" selected>请广告分组</option>
                        {volist name="adcate" id="voone"} <!--循环第一级别-->
                        <option value="{$voone.ID}" {if $voone.ID eq $listone.CategoryId }selected{/if} >{$voone.CategoryName}</option>
                        {/volist}
                    </select>
				</span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-2 col-sm-2"><span class="c-red">*</span>广告图片：</label>
            <div class="formControls col-xs-10 col-sm-9">
                <div id="pcoptionContainer" class="f-l formControls">
                    <div id="option0" class="f-l mr-10">
                        <div class="maskWraper" style="width:150px; height:150px; border:solid 1px #ddd; padding:2px"><img id="imgPre1" src="{$listone.AdPicture}" width="150" height="150" style="display:black; border:0 #FFFFFF solid"></div>
                          <span class="btn-upload form-group">
                              <a href="javascript:void();" class="btn btn-primary radius upload-btn"><i class="Hui-iconfont">&#xe642;</i> 选择封面图片</a>
                              <input type="file" multiple name="AdPicture" id="photo1" class="input-file" onchange="preImg(this.id,'imgPre1');">
                          </span>
                    </div>
                </div>

                <label class="c-999">图片大小****像素</label>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-2 col-sm-2"><span class="c-red"></span>广告连接：</label>
            <div class="formControls col-xs-10 col-sm-9">
                <input type="text" class="input-text"  value="{$listone.AdLinkUrl}" placeholder="请输入广告连接" id="AdLinkUrl" name="AdLinkUrl">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-2 col-sm-2"><span class="c-red">*</span>排序：</label>
            <div class="formControls col-xs-10 col-sm-9">
                <input type="text" class="input-text"  value="{$listone.sort}" placeholder="请输入广告连接" id="sort" name="sort">
            </div>
        </div>




        <div class="row cl">
            <div class="col-xs-10 col-sm-9 col-xs-offset-2 col-sm-offset-2">
                <button  id="displaynone" class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 保存并提交</button>
            </div>
        </div>
    </form>
</div>


{include file="./public/Public/js_script.html" /}
<script>

    function getFileUrl(sourceId) {
        var url;
        if (navigator.userAgent.indexOf("MSIE")>=1) { // IE
            url = document.getElementById(sourceId).value;
        } else if(navigator.userAgent.indexOf("Firefox")>0) { // Firefox
            url = window.URL.createObjectURL(document.getElementById(sourceId).files.item(0));
        } else if(navigator.userAgent.indexOf("Chrome")>0) { // Chrome
            url = window.URL.createObjectURL(document.getElementById(sourceId).files.item(0));
        }
        return url;
    }
    function preImg(sourceId, targetId) {

        var url = getFileUrl(sourceId);
        var imgPre = document.getElementById(targetId);
        imgPre.src = url;
    }
    function preVio(sourceId, targetId) {

        var url = getFileUrl(sourceId);

        var vioPre = document.getElementById(targetId);
        vioPre.innerHTML ='上传成功：'+ url;
    }
    function checkclassId(){
        var obj = document.getElementById('classId'); //selectid
        var index = obj.selectedIndex; // 选中索引
        var value = obj.options[index].value; // 选中值
        if(value == ''){
            alert('请选择广告分组！');
        }
    }
</script>
<script>
    function selecttype(){
        var type=$('#type option:selected').val();
        if(type==1){
            $('#AdLinkUrl').val('分类ID');
        }else if(type==2){
            $('#AdLinkUrl').val('商品ID');
        }else if(type==3){
            $('#AdLinkUrl').val('链接地址');
        }else if(type==4){
            $('#AdLinkUrl').val('搜索关键字');
        }
    }


</script>
</body>
</html>