{include file="./public/Public/meta.html" /}

<meta charset="utf-8">
<title>商家结算记录 - 商家管理</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 商家管理 <span class="c-gray en">&gt;</span> 商家结算记录 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <form name="memsearch" id="memsearch" method="post" action="{:\\think\\Url::build($Request.action)}">
        <div class="bk-gray">
            <div class="col-80">商家ID：</div>
            <div class="col-200"><input type="text" class="input-text" style="width:150px" placeholder="输入商家ID" id="supid" name="supid" value="{$Request.param.supid}"></div>
            <div class="col-90">商家名称：</div>
            <div class="col-300"><input type="text" class="input-text" style="width:240px" placeholder="输入商家名称" id="supname" name="supname" value="{$Request.param.supname}"></div>
            <div class="col-90">交易类型：</div>
            <div class="col-300">
                <span class="select-box" style="width:120px">
                  <select class="select" size="1" name="flowType">
                    <option value="">请选择</option>
                    <option value="转入">转入</option>
                    <option value="转出">转出</option>
                  </select>
                 </span>
            </div>

        </div>
        <div class="bk-gray" style="border-top:0">
            <div class="col-80">来源：</div>
            <div class="col-200"><input type="text" class="input-text" style="width:150px" placeholder="输入金额来源" id="fromwho" name="fromwho" value="{$Request.param.fromwho}"></div>
            <div class="col-90">订单号：</div>
            <div class="col-300"><input type="text" class="input-text" style="width:240px" placeholder="输入订单号" id="orderno" name="orderno" value="{$Request.param.orderno}"></div>
            <div class="col-90">日期范围：</div>
            <div class="col-300">
                <input type="text" onfocus="WdatePicker({maxDate:'%y-%M-%d'})" id="datemin" name="datemin" value="{$Request.param.datemin}" class="input-text Wdate" placeholder="开始时间" style="width:120px;">
                -
                <input type="text" onfocus="WdatePicker({minDate:'',maxDate:'%y-%M-%d'})" id="datemax" name="datemax" value="{$Request.param.datemax}" class="input-text Wdate" placeholder="结束时间" style="width:120px;">
            </div>
            <div class="f-r mt-5"><button name="" id="" class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i> 搜索</button>&ensp;<button name="daochu" id="" class="btn btn-success" type="submit" value="daochu"><i class="Hui-iconfont">&#xe665;</i> 导出</button>&ensp;<button name="" id="" class="btn btn-success" type="submit" onclick="javascript:$('input:text').val('')"><i class="Hui-iconfont">&#xe609;</i> 清空</button>&ensp;</div>
        </div>
    </form>
    <div class="cl pd-5 bg-1 bk-gray mt-20">  <span class="r">共有数据：<strong>{$count}</strong> 条</span> </div>
    <div class="mt-20">
        <form class="form form-horizontal" id="form-admin-list">
            <table class="table table-border table-bordered table-hover table-bg">
                <thead>
                <tr class="text-c">
                    <th>商家ID</th>
                    <th>商家名称</th>
                    <th>交易类型</th>
                    <th>交易金额</th>
                    <th>余额</th>
                    <th>来源</th>
                    <th>备注</th>
                    <th>添加时间</th>
                </tr>
                </thead>
                <tbody>
                {volist name="supsetrecordlist" id="vo"}
                <tr class="text-c">
                    <td>{$vo.supplierid}</td>
                    <td class="text-l">{:supnamebysupid($vo['supplierid'])}</td>
                    <td>{$vo['flowtype']}</td>
                    <td>
                        {if condition="$vo['amount'] gt 0 and $vo['memo'] eq '(PC端)商家账户转入'"}
                        <u style="cursor:pointer" class="text-primary c-blue" onclick="_show('查看详细订单','{:url('SupplierCountRecord/supplierCountShow',['supid'=>$vo['supplierid'],'orderno'=>$vo['orderno']])}','10001')">{$vo['amount']}</u>
                        {else /}
                        {$vo['amount']}
                        {/if}
                    </td>
                    <td>{$vo['balance']}</td>
                    <td>
                        {if condition="$vo['memo'] eq '商家提现'"}
                        商家[{$vo.supplierid}]
                        {elseif condition="$vo['memo'] eq '商家提现申请未通过退款'"}
                        管理后台[{$vo['fromwho']}]
                        {else /}
                        会员[{$vo['fromwho']}]<br>订单号[{$vo['orderno']}]
                        {/if}
                    </td>
                    <td>{$vo['memo']}</td>
                    <td>{$vo['adddate']}</td>
                </tr>
                {/volist}
                </tbody>
            </table>
        </form>

        <table class="table table-border table-bordered table-hover table-bg mt-20">
            <foot>
                <tr class="text-c success">
                    <th class="text-l" colspan="6">当前页小计：</th>
                    <th>{$staticPageArr[0]['FlowType']} : {$staticPageArr[0]['Amount']}</th>
                    <th>{$staticPageArr[1]['FlowType']} : {$staticPageArr[1]['Amount']}</th>
                </tr>
                <tr class="text-c success">
                    <th class="text-l" colspan="6">数据总计</th>
                    <th>{$staticArr[0]['FlowType']} : {$staticArr[0]['Amount']}</th>
                    <th>{$staticArr[1]['FlowType']} : {$staticArr[1]['Amount']}</th>
                </tr>
            </foot>
        </table>
    </div>
    <!--分页 begin-->
    <div class="page-bootstrap">{$page}</div>
    <br class="clear">
    <!--分页 end-->
</div>

{include file="./public/Public/js_script.html" /}
<script type="text/javascript">
    $(function(){
        //跳转页
        $('#jump').blur(function(){
            var url=$('.jumpnum').attr("href");
            //var strs=url.substr(0,25);
            var strs=url;
            var value=this.value;
            var all=$('.all').attr("title");
            var i=parseFloat(all);//将字符转化成数字
            if(value<=i && !isNaN(value) && value>0){
                value=Math.ceil(value);
            }else{
                value='';
            }
            var newurl=strs+value;
            $('.jumpnum').attr("href",newurl);
        });
    });
    /*-查看*/
    function _show(title,url,id,w,h){
        layer_show(title,url,w,h);
    }
    /*-结算*/
    function _settle(obj,id){
        layer.confirm('确认要结算吗？',function(index){
            //此处请求后台程序，下方是成功后的前台处理……
            $.ajax({
                url:'__CONTROLLER__/supplier_count_list/action/consettle/ids/'+id,
                type:"GET",
                success: function(data) {
                    location.href=location.href;
                    layer.msg('已结算!', {icon: 6,time:1000});
                }
            });
        });
    }
    /*批量删除*/
    function confirmsettle(){
        layer.confirm('确认要结算吗？',function(index){
            //此处请求后台程序，下方是成功后的前台处理……
            $.ajax({
                url:'__CONTROLLER__/supplier_count_list/action/consettle',
                type:"POST",
                data:$('#form-admin-list').serialize(),
                success: function(data) {
                    location.href=location.href;
                    layer.msg('已结算!',{icon:1,time:1000});
                }
            });
        });
    }
</script>
</body>
</html>