<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>登录注册</title>
    <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" name="viewport" id="viewport">
    <link href="<?php echo CSS_PATH;?>mobile/css/style4.css" rel="stylesheet" type="text/css">
    <link href="<?php echo CSS_PATH;?>mobile/css/reset.css" rel="stylesheet" type="text/css">
    <script src="<?php echo CSS_PATH;?>mobile/js/jquery-1.8.3.js"></script>
    <script src="<?php echo CSS_PATH;?>mobile/js/mobile.js"></script>
</head>

<body>
<img id="logo" src="<?php echo CSS_PATH;?>mobile/images/logo.png" alt="">
<div class="kuang">
    <button onclick="javascript:location.href='/mobile.php/login';">登录</button>
    <button id="zhuce" onclick="javascript:location.href='/mobile.php/member/reg';">新用户注册</button>
</div>
</body>
</html>