<!DOCTYPE html>
<html>
<head>
    <title>密码重置</title>

    <meta name="viewport"  content="width=device-width,user-scalable=no">
    <link rel="stylesheet" rev="stylesheet" href="<?php echo CSS_PATH;?>mobile/style/reset.css" type="text/css" />
    <link rel="stylesheet" rev="stylesheet" href="<?php echo CSS_PATH;?>mobile/style/font-awesome.min.css" type="text/css" />

    <link rel="stylesheet" rev="stylesheet" href="<?php echo CSS_PATH;?>mobile/style/fonts/iconfont.css" type="text/css" />
    <link rel="stylesheet" rev="stylesheet" href="<?php echo CSS_PATH;?>mobile/style/index.css" type="text/css" />
    <script src="<?php echo CSS_PATH;?>mobile/js/jquery-1.9.1.min.js"></script>
</head>
<body>

<!-- id=innerbox 标签外面 不放任何标签  为自适应标签   -->
<div class="innerbox" id="innerbox">
    <div class="inner">
        <div class="top">
            <a class="topfan" href="javascript:history.back(-1);"><em class="iconfont icon-fanhui"></em></a>
            <h2>密码重置</h2>
        </div>
        <div class="cl"></div>
        <div class="content_ce">
            <form id="form-member-add" method="post">
                <div class="inputbut inputbut_ce" style="margin-top: 10px">
                    <ul>
                        <li>
                            <input class="label_inpt label_inpt2" id="password" name="password" type="password" placeholder="请输入密码（6-20位）">
                            <div class="cl"></div>
                        </li>
                        <li>
                            <input class="label_inpt label_inpt2" type="password" id="password2" name="password2" placeholder="请再次输入密码">
                            <div class="cl"></div>
                        </li>
                        <li>
                            <div class="butdiv">
                                <button class="butden" type="button" id="regid">确认提交</button>
                                <div class="cl"></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="fidinfo"></div>
<script type="text/javascript" src="<?php echo CSS_PATH;?>mobile/script/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="<?php echo CSS_PATH;?>mobile/script/global.js"></script>
<script type="text/javascript" src="<?php echo CSS_PATH;?>mobile/script/TouchSlide.1.1.js"></script>
<script type="text/javascript" src="<?php echo CSS_PATH;?>mobile/script/index.js"></script>
{include file="./public/Public/js_script.html" /}
<script type="text/javascript">
    $(function(){
        $('#regid').click(function(){
            $.ajax({
                url:"/api.php/member/reset_password?mobile={$Request.param.mobile}",
                type:"post",
                dataType:"json",
                data: $('#form-member-add').serialize(),
                success: function(data) {
                    if(data.status==1){
                        layer.msg(data.msg,{time:2000},function(){
                            window.location.href='/mobile.php/login';
                        });
                    }else{
                        layer.msg(data.msg);
                    }
                }
            });
        });
    });
</script>
</body>
</html>
