{include file="./public/Public/meta.html" /}

<meta charset="utf-8">
<title>修改密码 - 会员管理</title>
</head>
<body>
<div style="width: 100%; height: 50px; background-color: #28bebc;">
 <div style="width: 25px; float: left; margin-top: 20px;margin-left: 5px;">
<a href="/mobile.php/member/useredit">
<img src="/public/Public/wap/images/zjt.png" style="margin-top:-15px;"></a></div>
<div style="padding-top: 3px; padding-left: 2%; float: left; line-height: 50px;">
</div>
<div style="width:19%; margin-left: 30%; color: #FFF; font-size: 17px; line-height: 50px;float: left;">修改密码</div>
</div>
<div style="clear: both;">
</div>
<article class="page-container">
	<form method="post" class="form form-horizontal" id="form-change-password">
		<div class="row cl">
			<label class="form-label col-xs-3 col-sm-2 pr-0"><span class="c-red">*</span>账户：</label>
			<div class="formControls col-xs-9 col-sm-9"> <input type="text" class="input-text" style="border:0px; color:#F80307" value="{$Think.session.membername}" placeholder="" id="userid" name="userid" readonly> </div>
		</div>

        <div class="row cl">
			<label class="form-label col-xs-3 col-sm-2 pr-0"><span class="c-red">*</span>密码类型：</label>
			<div class="formControls col-xs-9 col-sm-9 skin-minimal">
				<div class="radio-box">
					<input name="dlpwd" type="radio" id="pwd-1" value="0" checked>
					<label for="pwd-1">登陆密码</label>
				</div>
				<div class="radio-box" >
					<input name="dlpwd" type="radio" id="pwd-2" value="1">
					<label for="pwd-2">交易密码</label>
				</div>
			</div>
		</div>
		<!--<div class="row cl">
			<label class="form-label col-xs-3 col-sm-2 pr-0"><span class="c-red">*</span>原始密码：</label>
			<div class="formControls col-xs-9 col-sm-9">
				<input type="password" class="input-text" autocomplete="off" placeholder="" name="password" id="password">
			</div>
		</div>-->
        <div class="row cl">
			<label class="form-label col-xs-3 col-sm-2 pr-0"><span class="c-red">*</span>新密码：</label>
			<div class="formControls col-xs-9 col-sm-9">
				<input type="password" class="input-text" autocomplete="off" placeholder="" name="newpassword" id="newpassword">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-3 col-sm-2 pr-0"><span class="c-red">*</span>确认密码：</label>
			<div class="formControls col-xs-9 col-sm-9">
				<input type="password" class="input-text" autocomplete="off" placeholder="" name="newpassword2" id="new-password2">
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-9 col-sm-9 col-xs-offset-3 col-sm-offset-2" style="margin-top: 11%;margin-left: 36%;">
				<input style="width: 40%;height: 30px;" class="btn btn-primary radius size-S" type="submit" value="&nbsp;&nbsp;保存&nbsp;&nbsp;">
			</div>
		</div>
	</form>
</article>
{include file="./public/Public/js_script_m.html" /}

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">
$(function(){
	$('.skin-minimal input').iCheck({
		checkboxClass: 'icheckbox-blue',
		radioClass: 'iradio-blue',
		increaseArea: '20%'
	});

	$("#form-change-password").validate({
		rules:{
		/*	password:{
				required:true,
				minlength:6,
				maxlength:16
			},*/
			newpassword:{
				required:true,
				minlength:6,
				maxlength:16
			},
			newpassword2:{
				required:true,
				minlength:6,
				maxlength:16,
				equalTo:"#newpassword"
			},
		},
		onkeyup:false,
		focusCleanup:true,
		success:"valid",
		submitHandler:function(form){
            $.ajax({
                url:'/api.php/member/password_reset',
                type:"post",
                dataType:"json",
                data:$('#form-change-password').serialize(),
                success: function(data) {
                    //var index = parent.layer.getFrameIndex(window.name);
					if(data.status==1){
                        layer.msg(data.msg,{},function(){
                            location.href="/mobile.php/member/userinfo"; //刷新父页面
                        }); //父页面显示提示
					}else{
                        layer.msg(data.msg);
					}
                    //parent.layer.close(index); //关闭layer
                }
            });
		}
	});
});

</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>
