{include file="./public/Public/meta.html" /}

<meta charset="utf-8">
<title>修改商品分类 - 商品管理</title>
</head>
<body>
<article class="page-container">
    <form method="post" class="form form-horizontal" id="form-product-category">
        <div class="row cl">
            <label class="form-label col-xs-2 col-sm-2"><span class="c-red">*</span>上级分类：</label>
            <div class="formControls col-xs-10 col-sm-9">
				<span class="select-box">
                    <select class="select" size="1" name="pid" id="pid">
                        <option value="0" {if condition="$defaultpcate['pid'] eq 0"}selected{/if}>作为一级分类</option>
                        {volist name="listone" id="voone"} <!--循环第一级别-->
                        <option value="{$voone.Id}" {if condition="$defaultpcate['pid'] eq $voone['Id']"}selected{/if}>{$voone.name}</option>
                            {volist name="voone['voo']" id="votwo"} <!--循环第二级别-->
                                <option value="{$votwo.Id}" {if condition="$defaultpcate['pid'] eq $votwo['Id']"}selected{/if}>&emsp;&nbsp;{$votwo.name}</option>
                                {volist name="votwo['boo']" id="vothree"} <!--循环第三级别-->
                                	<option value="{$vothree.Id}" {if condition="$defaultpcate['pid'] eq $vothree['Id']"}selected{/if}>&emsp;&emsp;&emsp;&emsp;{$vothree.name}</option>
                                {/volist}
                                <!--<option value="3">&emsp;&nbsp;└─宝宝护肤</option>-->
                        	{/volist}
                        {/volist}
                    </select>
				</span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-2 col-sm-2"><span class="c-red">*</span>分类名称：</label>
            <div class="formControls col-xs-10 col-sm-9">
                <input type="text" class="input-text" value="{$defaultpcate['name']}" placeholder="" id="categoryname" name="categoryname">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-2 col-sm-2"><span class="c-red">*</span>广告图片：</label>
            <div class="formControls col-xs-10 col-sm-9">
                <div id="pcoptionContainer" class="f-l formControls">
                    <div id="option0" class="f-l mr-10">
                        <div class="maskWraper" style="width:150px; height:150px; border:solid 1px #ddd; padding:2px"><img id="imgPre1" src="{$defaultpcate['photo']}" width="150" height="150" style="display:black; border:0 #FFFFFF solid"></div>
                        <span class="btn-upload form-group">
                              <a href="javascript:void();" class="btn btn-primary radius upload-btn"><i class="Hui-iconfont">&#xe642;</i> 选择封面图片</a>
                              <input type="file" multiple name="photo" id="photo1" class="input-file" onchange="preImg(this.id,'imgPre1');">
                          </span>
                    </div>
                </div>

            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-10 col-sm-9 col-xs-offset-2 col-sm-offset-2">
                <button type="submit" class="btn btn-success radius" id="admin-role-save" name="admin-role-save"><i class="icon-ok"></i> 确定</button>
            </div>
        </div>
    </form>
</article>

{include file="./public/Public/js_script.html" /}

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">
    $(function(){
        $("#form-product-category").validate({
            rules:{
                roleName:{
                    required:true,
                },
            },
            onkeyup:false,
            focusCleanup:true,
            success:"valid",
            submitHandler:function(form){
                var form=new FormData(document.getElementById('form-product-category'));
                $.ajax({
                    url:'{:url("ProductCategory/productCategoryEdit")}?action=edit&&pid='+$('#pid option:selected').val()+'&&categoryname='+$('#categoryname').val()+'&&pcateid={$defaultpcate.Id}&&oldpid={$defaultpcate.pid}',
                    type:"POST",
                    data:form,
                    async: false,
                    cache: false,
                    processData:false,
                    contentType:false,
                    error: function(){ //失败
                    alert('Error loading document');
                    },
                    success: function(data) {
                        var res = String($.trim(data));
                        if(res=="catenameerror"){
                            alert("分类名称不能为空！");
                        }else if(res=="levelerror"){
                            alert("您提交的栏目下不能再添加栏目！");
                        }else if(res=="selferror"){
                            alert("不能把栏目放在自己下面！");
                        }else if(res=="catenamere"){
                            alert("您提交的栏目已存在！");
                        }else if(res=="onenottotwohasthree"){
                            alert("因为您的一级下面有三级，所以不能转换为二级！");
                        }else if(res=="onenottothree"){
                            alert("一级不能变三级！");
                        }else if(res=="twonottothree"){
                            alert("因为您的二级下面有三级，所以二级不能变三级！");
                        }else if(res=='limitphoto'){
                            alert("请上传1:1的图片！");
                        }else if(res=='sizephoto'){
                            alert("请上传200k以内的图片！");
                        }else{
                            var index = parent.layer.getFrameIndex(window.name);

                            parent.layer.msg('恭喜您编辑成功！'); //父页面显示提示
                            parent.location.reload(); //刷新父页面
                            parent.layer.close(index); //关闭layer
                        }

                    }
                });
            }
        });
    });
    function getFileUrl(sourceId) {
        var url;
        if (navigator.userAgent.indexOf("MSIE")>=1) { // IE
            url = document.getElementById(sourceId).value;
        } else if(navigator.userAgent.indexOf("Firefox")>0) { // Firefox
            url = window.URL.createObjectURL(document.getElementById(sourceId).files.item(0));
        } else if(navigator.userAgent.indexOf("Chrome")>0) { // Chrome
            url = window.URL.createObjectURL(document.getElementById(sourceId).files.item(0));
        }
        return url;
    }
    function preImg(sourceId, targetId) {

        var url = getFileUrl(sourceId);
        var imgPre = document.getElementById(targetId);
        imgPre.src = url;
    }
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>