<!DOCTYPE html>
<html lang="en">
{include file="./public/Public/meta.html" /}
{include file="./public/Public/js_script.html" /}
<head>
    <meta charset="UTF-8">
    <title>积分记录</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 交易管理 <span class="c-gray en">&gt;</span> 奖金汇总记录 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <form name="memsearch" id="memsearch" method="post" action="{:\\think\\Url::build($Request.action)}">
        <div class="bk-gray">
            <div class="col-80">会员编号：</div>
            <div class="col-200"><input type="text" class="input-text" style="width:150px" placeholder="输入会员编号" id="keyuserid" name="keyuserid" value="{$Request.param.keyuserid}"></div>
            <div class="col-80">日期范围：</div>
            <div class="col-300">
                <div class="col-300">
                    <input type="text" onFocus="WdatePicker({maxDate:'%y-%M-%d'})" id="datemin" name="datemin" value="{$Request.param.datemin}" class="input-text Wdate" style="width:120px;">
                    -
                    <input type="text" onFocus="WdatePicker({minDate:'',maxDate:'%y-%M-%d'})" id="datemax" name="datemax" value="{$Request.param.datemax}" class="input-text Wdate" style="width:120px;">
                </div>
            </div>
            <div class="f-r mt-5"><button name="" id="" class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i> 搜索</button>&ensp;<button name="" id="" class="btn btn-success" type="submit" onclick="javascript:$('input:text').val('')"><i class="Hui-iconfont">&#xe609;</i> 清空</button>&ensp;</div>
        </div>
    </form>

    <div class="cl pd-5 bg-1 bk-gray mt-20">
        <span class="l">
            <form action="/admin.php/admin/prize_summary/prize_outexcel"  method="post" >

            <div class="col-80">会员编号：</div>
            <div class="col-200"><input type="text" class="input-text" style="width:150px" placeholder="输入会员编号" id="keyuserids" name="keyuserids" value="{$Request.param.keyuserids}"></div>
            <div class="col-80">日期范围：</div>
            <div class="col-300">
                <div class="col-300">
                    <input type="text" onFocus="WdatePicker({maxDate:'%y-%M-%d'})" id="datemins" name="datemins" value="{$Request.param.datemins}" class="input-text Wdate" style="width:120px;">
                    -
                    <input type="text" onFocus="WdatePicker({minDate:'',maxDate:'%y-%M-%d'})" id="datemaxs" name="datemaxs" value="{$Request.param.datemaxs}" class="input-text Wdate" style="width:120px;">
                </div>
            </div>
                    <button class="btn btn-primary radius" type="submit">导出数据</button>


            </form>
        <div id="markdown" class="mt-20"></div>
        </span>
        <span class="r">共有数据：<strong>{$count}</strong> 条</span></div>
    <div class="mt-20">
        <form class="form form-horizontal" id="form-user-list">
            <table class="table table-border table-bordered table-bg table-hover">
                <thead>
                <tr class="text-c">
                    <th>会员编号</th>
                    <th>奖金总额</th>
                    <th>已发放金额</th>
                    <th>未发放金额</th>
                </tr>
                </thead>
                <tbody>
                {volist name="integralList" id="vo"}
                <tr class="text-c va-m">
                    <td class="text-l">{$vo.UserId}</td>
                    <td class="text-l">{$vo.Amount}</td>
                    <td class="text-l">{$vo.BalancePv}</td>
                    <td class="text-l">{$vo.notgrant}</td>
                </tr>
                {/volist}
                </tbody>
            </table>
            <table class="table table-border table-bordered table-hover table-bg mt-20">
                <foot>
                    <tr class="text-c success">
                        <th class="text-l" colspan="3">当前页总计</th>
                        <th>总金额 : {$pagestaticArr[0]['Amount']}</th>
                        <th>已发放金额 : {$pagestaticArr[2]['Amount']}</th>
                        <th>未发放金额 : {$pagestaticArr[1]['Amount']}</th>
                    </tr>
                    <tr class="text-c success">
                    <th class="text-l" colspan="3">数据总计</th>
                        <th>总金额 : {$staticArr[0]['Amount']}</th>
                        <th>已发放金额 : {$staticArr[2]['Amount']}</th>
                        <th>未发放金额 : {$staticArr[1]['Amount']}</th>
                    </tr>
                </foot>
            </table>

        </form>
    </div>
    <!--分页 begin-->
    <div class="page-bootstrap">{$page}</div>
    <br class="clear">
    <!--分页 end-->
    {include file="./public/Public/js_script.html" /}
</div>
</body>
</html>
