{include file="./public/Public/meta.html" /}

<meta charset="utf-8">
<title>物流管理 - 运费设置</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 物流管理 <span class="c-gray en">&gt;</span> 运费设置 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <div class="cl pd-5 bg-1 bk-gray"> <span class="l"><a class="btn btn-primary radius" href="{:url('Freight/freightadd',['id'=>$id])}" ><i class="Hui-iconfont">&#xe600;</i> 新增配送区域</a></span>  </div>

    <div class="mt-20">
        <table class="table table-border table-bordered table-bg table-hover">
            <thead>
            <tr class="text-c">
                <th>ID</th>
                <th>配送区域名称</th>
                <th>所辖地区</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {volist name="list" id="vo"}
            <tr class="text-c va-m">
                <td>{$vo.Id}</td>
                <td>{$vo.Name}</td>
                <td width="50%">{:getbycityname($vo.Id)}</td>
                <td >
                     <a style="text-decoration:none" class="ml-5" href="{:url('Freight/freightedit',['id'=>$vo['Id'],'typeid'=>$id])}" title="编辑"><span class="btn btn-warning radius"><i class="Hui-iconfont">&#xe692;</i> 编辑</span></a>
                     <a style="text-decoration:none" class="ml-5"  href="{:url('Freight/freight_action',['id'=>$vo['Id'],'typeid'=>$id])}" title="删除"><span class="btn btn-secondary radius"><i class="Hui-iconfont">&#xe6ab;</i> 删除</span></a>
                </td>
            </tr>
            {/volist}
            </tbody>
        </table>
    </div>

    <!--分页 begin-->
    <div class="page-bootstrap">{$page}</div>
    <br class="clear">
    <!--分页 end-->
</div>
{include file="./public/Public/js_script.html" /}


</body>
</html>
