{include file="./public/Public/meta.html" /}

<meta charset="utf-8">
<title>修改密码 - 商家管理</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 供应商信息 <span class="c-gray en">&gt;</span> 修改密码 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<article class="page-container">
	<form method="post" class="form form-horizontal" id="form-change-password">
		<div class="row cl">
			<label class="form-label col-xs-2 col-sm-2"><span class="c-red">*</span>账户：</label>
			<div class="formControls col-xs-10 col-sm-9"> {$name} </div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-2 col-sm-2"><span class="c-red">*</span>当前密码：</label>
			<div class="formControls col-xs-10 col-sm-9">
				<input type="password" class="input-text" autocomplete="off" placeholder="不修改请留空" name="oldpassword" id="oldpassword">
			</div>
		</div>
        <div class="row cl">
			<label class="form-label col-xs-2 col-sm-2"><span class="c-red">*</span>新密码：</label>
			<div class="formControls col-xs-10 col-sm-9">
				<input type="password" class="input-text" autocomplete="off" placeholder="不修改请留空" name="newpassword" id="newpassword">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-2 col-sm-2"><span class="c-red">*</span>确认新密码：</label>
			<div class="formControls col-xs-10 col-sm-9">
				<input type="password" class="input-text" autocomplete="off" placeholder="不修改请留空" name="newpassword2" id="newpassword2">
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-10 col-sm-9 col-xs-offset-2 col-sm-offset-2">
				<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;保存&nbsp;&nbsp;">
			</div>
		</div>
	</form>
</article>
{include file="./public/Public/js_script.html" /}

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">
$(function(){
	$("#form-change-password").validate({
		rules:{
			oldpassword:{
				required:true,
				minlength:6,
				maxlength:16
			},
			newpassword:{
				required:true,
				minlength:6,
				maxlength:16
			},
			newpassword2:{
				required:true,
				minlength:6,
				maxlength:16,
				equalTo:"#newpassword"
			},
		},
		onkeyup:false,
		focusCleanup:true,
		success:"valid",
		submitHandler:function(form){
			$.ajax({
                url:'{:url("Supplier/supplier_password",["action"=>"modify"])}',
                type:"POST",
                dataType:'json',
                data:$('#form-change-password').serialize(),
                success: function(data) {
                    if(data.status==0){
                        layer.msg(data.msg);
                    }else{
                        var index = "supplier_password";
                        parent.layer.msg(data.msg); //父页面显示提示
                        location.replace(index); //刷新父页面
                        //parent.layer.close(index); //关闭layer
                    }

                }
			});
		}
	});
});
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>