@charset "utf-8";
/* 禁用iPhone中Safari的字号自动调整 */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/* 去除iPhone中默认的input样式 */
input { /* -webkit-appearance:none; */
    resize: none;
}

/* 取消链接高亮  */
body, div, ul, li, ol, h1, h2, h3, h4, h5, h6, input, textarea, select, p, dl, dt, dd, a, img, button, form, table, th, tr, td, tbody, article,
aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: Microsoft YaHei;
}

/* 设置HTML5元素为块 */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    /*display: block;*/
}

/* 图片自适应 */
img {
    max-width: 100%;
    height: auto;
    width: auto \9; /* ie8 */
    -ms-interpolation-mode: bicubic; /*为了照顾ie图片缩放失真*/
}

*:focus {
    outline: none;
}

/* 清零 */
body, div, ul, li, ol, h1, h2, h3, h4, h5, h6, span, input, textarea, select, p, dl, dt, dd, a, img, button, form, table, th, tr, td, tbody, article,
aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    margin: 0;
    padding: 0;
    border: none;
}

em, i {
    font-style: normal;
}

strong {
    font-weight: normal;
}

.clear:after {
    content: "";
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    /*font-family: Tahoma, Arial, Roboto, "Droid Sans", "Helvetica Neue", "Droid Sans Fallback", "Heiti SC", sans-self;*/
}

fieldset, img {
    border: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}



/*手机公共样式*/
body {font-family:"微软雅黑"; color:#333;}
*{margin:0;padding: 0;}

@media (min-width:641px) {
    .container{
        width: 640px;
        margin: 0 auto;
    }
}

.fl{
    float: left;
}
.fr{
    float: right;
}
.bgfff{
    background: #fff;
}

img{border:0 none;  outline: none;}
input{ outline: none; margin:auto;}
article,aside,dialog,footer,header,section,footer,nav,figure,menu{display:block}
ul,li,ol{list-style: none;}
a{text-decoration: none;font-family:"微软雅黑"; }
p{font-family:"微软雅黑"}
h1,h2,h3,h4,h5{font-family:"微软雅黑"}
span{font-family:"微软雅黑"}






















