<!DOCTYPE html>
<html lang="en">
{include file="./public/Public/meta.html" /}
{include file="./public/Public/js_script.html" /}
<head>
    <meta charset="UTF-8">
    <title>资讯分类</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 资讯管理 <span class="c-gray en">&gt;</span> 资讯分类 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <div class="cl pd-5 bg-1 bk-gray"> <span class="l"> <a href="javascript:;" onClick="datadel()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a> <a class="btn btn-primary radius"  onClick="_add('添加级别','{:url(\'article_category/articleCategoryAdd\',[\'act\'=>\'show\'])}' ,'800','550')"><i class="Hui-iconfont">&#xe600;</i> 添加分类</a> </span> <span class="r">共有数据：<strong>54</strong> 条</span> </div>
    <form class="form form-horizontal" id="form-articleCategory-list">
        <table class="table table-border table-bordered table-hover table-bg mt-20">
            <thead>
            <tr>
                <th scope="col" colspan="16">级别管理</th>
            </tr>
            <tr class="text-c">
                <th><input type="checkbox" value="" name=""></th>
                <th>ID</th>
                <th>分类名称</th>
                <th>是否显示</th>
                <th>备注说明</th>
                <th width="70">操作</th>
            </tr>
            </thead>
            <tbody>
            {volist name="list" id="vo"}
                <tr class="text-c">
                    <td><input type="checkbox" value="{$vo.id}" name="ID[]"></td>
                    <td>{$vo.id}</td>
                    <td>{$vo.categoryname}</td>
                    <td>
                        {if condition="$vo['isshow'] eq 0"}
                        <a style="text-decoration:none" onClick="_start(this,{$vo['id']})" href="javascript:;" title="隐藏"><span class="label label-defaunt radius">隐藏</span></a>
                        {else /}
                        <a style="text-decoration:none" onClick="_stop(this,{$vo['id']})" href="javascript:;" title="显示"><span class="label label-success radius">显示</span></a>
                        {/if}
                    </td>
                    <td>{$vo.remark}</td>
                    <td class="f-14"><a title="编辑" href="javascript:;" onClick="_edit('级别编辑','{:url(\'article_category/articleCategoryEdit\',[\'act\'=>\'show\',\'id\'=>$vo[\'id\']])}','800','500')" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a> <a title="删除" href="javascript:;" onClick="_del(this,'{$vo.id}')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
                </tr>
            {/volist}
            </tbody>
        </table>
    </form>
</div>

<!--<include file="../../../Public/js_script" />-->
{include file="./public/Public/js_script.html" /}
<script type="text/javascript">
    /*-添加*/
    function _add(title,url,w,h){
        layer_show(title,url,w,h);
    }
    /*-编辑*/
    function _edit(title,url,w,h){
        layer_show(title,url,w,h);
    }
    /*-隐藏*/
    function _stop(obj,id){
        layer.confirm('确认要隐藏吗？',function(index){
            //此处请求后台程序，下方是成功后的前台处理……
            $.ajax({
                url:'{:url("article_category/articleCategoryIsShow")}?status=stop&id='+id,
                type:"GET",
                dataType:"json",
                success: function(data) {
                    location.href=location.href;
                    layer.msg(data.msg, {icon: 6,time:1000});
                }
            });
        });
    }
    /*-显示*/
    function _start(obj,id){
        layer.confirm('确认要显示吗？',function(index){
            //此处请求后台程序，下方是成功后的前台处理……
            $.ajax({
                url:'{:url("article_category/articleCategoryIsShow")}?status=yes&id='+id,
                type:"GET",
                dataType:"json",
                success: function(data) {
                    location.href=location.href;
                    layer.msg(data.msg, {icon: 6,time:1000});
                }
            });
        });
    }
    /*批量删除*/
    function datadel(){
        layer.confirm('确认要删除吗？',function(index){
            //此处请求后台程序，下方是成功后的前台处理……
            $.ajax({
                url:'{:url("article_category/articleCategoryDel")}',
                type:"POST",
                dataType:"json",
                data:$('#form-articleCategory-list').serialize(),
                success: function(data) {
                    if(typeof(data.code)!= "undefined"&&data.code==1){
                        layer.alert(data.msg);
                    }
                    if(typeof(data.status)!= "undefined"){
                        if(data.status==1){
                            layer.msg(data.msg,{icon:1,time:1000},function(){
                                location.href=location.href;
                            });
                        }else{
                            layer.msg(data.msg,{icon:1,time:1000});
                        }
                    }
                }
            });
        });
    }
    /*-单个删除*/
    function _del(obj,id){
        layer.confirm('删除须谨慎，确认要删除吗？',function(index){
            //此处请求后台程序，下方是成功后的前台处理……
            $.ajax({
                url:'{:url("article_category/articleCategoryDel")}?ID='+id,
                type:"GET",
                dataType:"json",
                success: function(data) {
                    if(typeof(data.code)!= "undefined"&&data.code==1){
                        layer.alert(data.msg);
                    }
                    if(typeof(data.status)!= "undefined"){
                        if(data.status==1){
                            layer.msg(data.msg,{icon:1,time:1000},function(){
                                location.href=location.href;
                            });
                        }else{
                            layer.msg(data.msg,{icon:1,time:1000});
                        }
                    }
                }
            });
        });
    }
</script>
</body>
</html>